/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.hero-container {
  position: relative;
  z-index: 100;
}

.hero-text {
  position: relative;
  z-index: 200;
}

.hero-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
}

.film-container{
display: flex;
flex-direction: row;
  justify-content: space-evenly;
  

}

.film-box{
  height:35rem;
  width: 25rem;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem 1.5rem;
  
}
.film-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.film-box img:hover{
    
  transform: scale(1.1);
}